@tailwind base;
@tailwind components;
@tailwind utilities;

.drop {
  animation: gravity 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes gravity {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
